<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default infoPanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 infoPanel">
                        <div class="panel panel-default">
                            <div class="panel-heading new-data">
                                <h1 class="panel-title text-center new-data">Data List</h1>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <ul class="data-list">
    							         <li ng-repeat="a in vm.data" class="list-group-item">{{ a.address }} - {{ a.variables.population }} <a class="opt-list" href="javascript:;" ng-click="vm.removeData(a._id)" role="button" style="color: red;"> Delete </a><a href="/#/data/{{ a._id }}" class="opt-list" role="button"> Update </a> </li>
    							    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>